/* navbar section */
/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */   

body{
  margin-top: 0;
}

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
header{
  background-image: url('../images/Hero-bg.png');
  height: 600px;
  margin:0px;
}


nav{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin:0px 100px;


}
.nav-title{
  font-size:34px;
  color:#4E47FF ;
}
.btn-primary{
   padding:12px 36px;
   border-radius: 10px;
   background-color: #4E47FF;
   font-size: 16px;
   font-weight: bold;
   color:#FFFFFF ;
   border: none;
}
/* heading banner section */
.banner{
  text-align: center;
  padding: 5px, 0px;
  
  
}
.banner-title{
  font-size: 65px;
  font-weight: bold;
  color: #252432;

 }
 /* action section */
.action{
  display: flex;
  justify-content: space-between;
  margin: 110px 150px;
}
.action-content{
  max-width:500px ;
}
 .action-title{
  color:#252432 ;
  font-size:40px ;
  font-weight: bold;
 }
 .action-para{
  font-size:24px;
  color: rgba(37, 36, 50, 0.5);
 }
 .action-profile{
  width: 400px;
  border-radius: 48px;

 }
 /* productive user section */
 .productive-section{
  background-color: ;
  border-radius: 24px;
  text-align: center;
  padding: 50px 142px;
  align-items: center;
  margin: 110px 150px;
 background-color:rgba(78, 71, 255, 0.02);

 }
 
.productive-user-section{
  display: flex;
  justify-content: space-evenly;
}

 .productive-head{
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  text-align: center;

 }
 .productive-title{
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
 }
 .productive-para{
  font-size: 20px;
  color: #000000;
 }
 /* What our users say section */
 .user-title{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  text-align: center ;
  margin-bottom: 40px;
 }
 /* user section */
 .user-container{
  display: flex;
  justify-content:center;
  gap: 20px;
 

 }
 .reviewer-section{
  display: flex;
  align-items: center;
  gap: 10px;
 }
 .user{
  padding: 24px;
  border-radius: 14px;
  background-color:#FFFFFF ;
  text-align: left;
  border: 5px solid #F2EDED ;
  box-shadow: 0 6px 50px 0 #F2EDED;
  
 
  
 }
 .user-description{
  font-size: 14px;
  color: #1E1E1E;
  margin-bottom: 20px;
  text-align: justify;
  
 }
 .text{
  color: #757575;
  font-size:14px ;
 }
 .date{
  color: #B3B3B3;
  font-size: 13px;
 }
 .user-sub-title{
  color: #1E1E1E;
 }
 /* focus section */
 .focus{
  padding:50px 130px ;
  border-radius: 14px;
  background-color:#FFFFFF;
  box-shadow: 0 6px 50px 0 #F2EDED;
  margin: 100px 150px;

 }
 .focus-section{
  text-align: center;
  margin-bottom: 20px;

 }
 .focus-title{
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  
 }
.focus-para{
  font-size: 14px;
  color: #000000;
}
.focus-image{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.focus-image img{
  border-radius: 48px;
  width: 840px;
  height: 360px;
 

}